body, html {
    height: 100%;
    margin: 0
}

body {
    background-color: black;
    color: black;
}

#container {
    width: 50%;
    margin: 10px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
	box-shadow: 10px 5px 10px grey;
}

h1 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: solid 1px #ddd;
}

form {
    text-align: center;
}

form label {
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

form input,
form select {
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
}
form input:hover, form select:hover {
	background-color: crimson;
	cursor: pointer;
}

form input[type="number"] {
    width: 40%;
}

form select {
    width: 100%;
}

button {
	background-image: url('/button.png');
   	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    color: white;
    border: none;
    border-bottom: solid 4px #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
    border-radius: 20px;
}

button:hover {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    border-bottom-color: #111;
	cursor: pointer;
}

button:active {
    position: relative;
    top: 2px;
}

#results {
    display: inline;
}

#results:before {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
}

#results p {
    font-size: 16px;
    text-align: center;
}

#results span {
	font-size: 28px;
	font-weight: bold;
	background-color: yellow;
	padding: 10px;
	border-radius: 20px;
	
}

.creator {
	color: white;
	font-size: 10px;
	text-align: right;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 5px;
}

